*,html,body{
	font-family:'微软雅黑','microsoft yahei',Sans-serif;
}
/*header*/
header{
	position:absolute;
	height:100%;
	width:283px;
	left:0;
	top:0;
	padding:0;
	background:transparent;
}
h1{
	margin-top:2em;
	font-size:2em;
	padding:1em;
	line-height:1em;
	text-transform:uppercase;
}
h1 span{
	font-size: 14px;
	vertical-align: super;
	display: inline-block;
	margin-left: 3px;
	color: burlywood;
}
header li{
	background:rgba(255,255,255,.8);
	color:#666;
	padding:0;
	margin:.5em 0;
	text-align:right;
	font-size:16px;
	line-height:100px;
	position:relative;
}

header li a{
	display:block;
	height:92px;
	position:relative;
	top:3px;
	left:3px;
	border-radius:50px;
	color:#666;
	margin-right:20px;
}
header li:nth-child(2n) a{
	margin-left:50px;
}
/*current link*/
#home:target ~ #header #navigation #link-home,
#portfolio:target ~ #header #navigation #link-portfolio,
#about:target ~ #header #navigation #link-about,
#contact:target ~ #header #navigation #link-contact{
	color: green;
}
#link-home{
	background:url(../images/contact_heart.png) no-repeat;
	background-size:auto 100%;
}
#link-portfolio{
	background:url(../images/icon_ui.png) no-repeat;
	background-size:auto 100%;
}
#link-about{
	background:url(../images/icon_logo.png) no-repeat;
	background-size:auto 100%;
}
#link-contact{
	background:url(../images/icon_char.png) no-repeat;
	background-size:auto 100%;
}

/*panel*/
.panel,.content{
	position:absolute;
	overflow:hidden;
	height:100%;
	width:100%;
}
.panel{
	width:98%;
	margin-left:-150%;
	background:#000;
	overflow:visible;
}
.panel:target,.content{
	margin-left:0;
	background: url(../images/logo.png) no-repeat;
	background-size: cover;
}
article{
	background:transparent;
	color:#fff;
	padding: 2.5% 0 2.5% 320px;
	height:90%;
	overflow-y: hidden;
	overflow-x: visible;
}
article .worklist{
	height:80%;
	margin-right:10px;
	overflow:auto;
}
h2{
	font-size:2em;
	text-transform:capitalize;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	display:inline-block;
	width:200px;
	height:76px;
	line-height:76px;
	text-align:center;
	position:absolute;
	bottom:10px;
	right:0;
}
h2 span{display:none;}
#home h2{
	background: rgba(0,0,0,1) url(../images/home.png) no-repeat;
}
#portfolio h2{
	background: rgba(0,0,0,1) url(../images/portfolio.png) no-repeat;
}
#about h2{
	background: rgba(0,0,0,1) url(../images/about.png) no-repeat;
}
#contact h2{
	background: rgba(0,0,0,1) url(../images/contact.png) no-repeat;
}
h2:after{
	content:"";
	position:absolute;
	display:inline-block;
	width:180px;
	height:60px;
	border:2px dashed #fff;
	left:7px;
	top:6px;
}
article p{
	margin:10px 0;
	padding:.5em 1em;;
}
article p.reversed a{
	color:#f5f5f5;
}
/**photo**/
#works img{
	height:150px;
	background:#fff;
	float:left;
}

#works li:nth-child(4n) img{
	height:300px;
}

/*works*/
p.time{
	display:block;
	clear:left;
	background:rgba(255,255,255,.6);
	color:#333;
	font-style:italic;
	font-size:1.5em;
}
.imgwall:hover,a.button{
box-shadow:0 0 8px #ddd;
-webkit-box-shadow:0 0 8px #ddd;
-moz-box-shadow:0 0 8px #ddd;
opacity:1;
}
.imgwall:hover{
opacity:1;
}
html,.imgwall,.button,a{
transition:.3s ease-in-out;
-o-transition:.3s ease-in-out;
-moz-transition:.3s ease-in-out;
-webkit-transition:.3s ease-in-out;
}
.imgwall{
width:220px;
float:left;
margin: 0 10px 10px 0;
padding:10px;
background: #fff url(../pics/imgwall-bg.png) no-repeat;
background-size: cover;
opacity:.9;
}
.imgwall img{
width:100%;
height:133px;
}
.imgwall span,.imgwall a{
display:block;
color:#666;
}
.imgwall span{
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
a.button{
background-color:#39c;
color:#fff;
width: 110px;
text-align: center;
border-radius: 10px;
margin-top:8px;
padding: 0 8px;
opacity:1;
}
a.button:hover{
opacity:.8;
}
figure.mobile .button:before{
    display:inline-block;
  content:"M";
  color:#ffa236;
  font-weight:bold;
  line-height:20px;
  background:rgba(255,255,255,.6);
  margin:0 3px;
  padding:0 4px;
}



/****about me****/
.skills{
	padding: 13px 18px 46px 16px;
	background-color: rgba(0,184,141,1);
	color:#fff;
	line-height:2em;
	overflow:visible;
}
.skills.ps{
	background-color: rgba(255,210,0,.9);
	
}
.skills li{
	padding-left:26px;

}
.skills li:hover{
	background:url(../images/skills.png) no-repeat;
	background-size:16px;
	background-position:0 7px;
	color:#eee;
}
.skills h3{
	font-size:1.5em;
	margin:.5em 0;
	font-weight:bold;
}
span.info{
	font-style:italic;
	display:inline-block;
	margin:0 10px;
	color:#999;
}

/***home***/
.desc p{
	padding:20px;
	margin:1px;
	width:350px;
	height:80px;
	font-size:20px;
	position:relative;
	float:right;
}
.desc p a{
	display:block;
	text-align:right;
	font-size:1.5em;
	color:#666;
}
.desc p:first-child,.desc p:nth-child(4){
	background:rgba(0,184,141,.2);
	color:rgba(0,184,141,1);
}
.desc p:nth-child(2),.desc p:nth-child(5){
	background:rgba(255,210,0,.2);
	color:rgba(255,210,0,1);
}
.desc p:nth-child(3){
	background:rgba(180,100,0,.2);
	color:rgba(180,100,0,1);
}




