/*index.css*/
body{
	margin:0;
	padding:0;
	overflow:hidden;
}
a{display:inline-block;}
li{list-style:none;}
a span.no-dis{display:none;}
.clearfix{zoom:1;}
.clearfix:after{display:block;clear:both;content:"";height:0;}
.wrapper{
	width:100%;
	overflow:hidden;
}
#to-home,#toggle-screen{
	width:30px;
	height:30px;
	position: absolute;
	top: 20px;
	z-index:999;
}
#toggle-screen{background:url(../pics/fs.png) no-repeat;background-size: cover;right: 20px;}
#to-home{background:url(../pics/home.png) no-repeat;background-size: cover;left: 20px;display:none;}
/********home**********/
.logo{
	position:absolute;
	left:100px;
	bottom:100px;
}
.page{
	width:100%;
	overflow:hidden;
}
.home section{
	display:inline-block;
	position:absolute;
	right:0;
}
.index-nav{
	width:55%;
	min-width:700px;
	position:absolute;
	left:30%;
}
.index-nav li{display:inline-block;position: absolute;background-size:contain;background-repeat:no-repeat;color: #fff;text-align:center;line-height: 300px;font-size: 24px;}
.li-contact{background-image:url(../pics/bubble_red.png);width:130px;height:130px;left:50%;top:350px;}
.li-about{background-image:url(../pics/bubble_green.png);width:250px;height:250px;left:40%;top:100px;}
.li-works{background-image:url(../pics/bubble_orange_large.png);width:180px;height:180px;left:75%;top:100px;}
.li-rest{background-image:url(../pics/bubble_violet_large.png);width:250px;height:250px;left:70%;top:300px;}
.li-pics{background-image:url(../pics/bubble_blue_right.png);width:150px;height:150px;left:98%;top:200px;}
.li-a{background-image:url(../pics/bubble_black.png);width:130px;height:130px;left: 30%;top: 10px;}
.li-b{background-image:url(../pics/bubble_blue.png);width:150px;height:150px;left:25%;top:260px;}
.li-c{background-image:url(../pics/bubble_green_right.png);width:100px;height:100px;left:99%;top:100px;}
.li-d{background-image:url(../pics/bubble_orange.png);width:70px;height:70px;left:57%;top:500px;}
.li-e{background-image:url(../pics/bubble_red_right.png);width:130px;height:130px;left:96%;top:480px;}
.li-f{background-image:url(../pics/bubble_violet.png);width:110px;height:110px;left:66%;top:10px;}
.index-nav li a{display:block;width:100%;height:100%;}

/************works*************/
.works{position:absolute;top:0;left:0;background:#fff url(../pics/plane.png) no-repeat right top;overflow:auto;display:none;}
.works section{width:790px;position: absolute;margin-left: 50%;margin-top: 106px;left: -260px;overflow: visible;background: url(../pics/ver-bor.png) repeat-y;}
.works p.time{clear: both;position: relative;left: -140px;font-size: 24px;font-style: italic;background: url(../pics/hor-bor.png) bottom repeat-x;}
/************pics************/
.pics{position:absolute;top:0;left:0;background:#fff;overflow-x:scroll;}
.pics section{height:100%;overflow-x:scroll;}
.pics::-webkit-scrollbar {
    height:5px;
}
.pics::-webkit-scrollbar-track {
    border:3px solid #000;
}
 
.pics::-webkit-scrollbar-thumb {
    background: #333; 
}
.pics::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.2); 
}
.album{width:auto !important;}
.album>div{position:relative;float:left;height:100%;}
.album>div img{height:100%;}
/************aside*************/
aside{display:none;}
aside ul li{float:left;width:74px;height:146px;background:url(../pics/menu.png)  no-repeat;text-align:center;background-size:74px auto;margin:0 3px;position:relative;top:-30px;}
aside ul li a{display:block;width:100%;height:100%;background-size:38px auto;background-repeat:no-repeat;background-position:center 40px; opacity: .6;}
aside ul li.current{top:-10px;}
aside ul li.current a{background-position:center 70px;opacity:1;}
.a-about{background-image:url(../pics/icon_char.png);}
.a-works{background-image:url(../pics/icon_ui.png);}
.a-pics{background-image:url(../pics/icon_logo.png);}
.a-rest{background-image:url(../pics/icon_about.png);}
.a-contact{background-image:url(../pics/icon_contact.png);}





/**********common*************/
.transition{
	transition:all .3s linear 0;
	-webkit-transition:all .3s linear 0;
	-moz-transition:all .3s linear 0;
	-o-transition:all .3s linear 0;
}
.scale1{
	transform:scale(.8);
	-webkit-transform:scale(.8);
	-moz-transform:scale(.8);
	-o-transform:scale(.8);
}
.animate1{
	-webkit-animation:animations .3s linear;
	-moz-animation:animations .3s linear;
	-o-animation:animations .3s linear;
	-ms-animation:animations .3s linear;
	animation:animations .3s linear;
}
@-webkit-keyframes animations{
	0%{-webkit-transform:scale(2);opacity:.5;}
	50%{-webkit-transform:scale(1.5);opacity:.7;}
	100%{-webkit-transform:scale(1);opacity:1;}
}
@-moz-keyframes animations{
	0%{-moz-transform:scale(2);opacity:.5;}
	50%{-moz-transform:scale(1.5);opacity:.7;}
	100%{-moz-transform:scale(1);opacity:1;}
}
@-o-keyframes animations{
	0%{-o-transform:scale(2);opacity:.5;}
	50%{-o-transform:scale(1.5);opacity:.7;}
	100%{-o-transform:scale(1);opacity:1;}
}
@-ms-keyframes animations{
	0%{-ms-transform:scale(2);opacity:.5;}
	50%{-ms-transform:scale(1.5);opacity:.7;}
	100%{-ms-transform:scale(1);opacity:1;}
}
@keyframes animations{
	0%{transform:scale(2);opacity:.5;}
	50%{transform:scale(1.5);opacity:.7;}
	100%{transform:scale(1);opacity:1;}
}
.animate2{
	-webkit-animation:animations2 .3s linear;
	-moz-animation:animations2 .3s linear;
	-o-animation:animations2 .3s linear;
	-ms-animation:animations2 .3s linear;
	animation:animations2 .3s linear;
}
@-webkit-keyframes animations2{
	0%{-webkit-transform:translateY(-146px);}
	50%{-webkit-transform:translateY(-50px);}
	100%{-webkit-transform:translateY(0px);}
}
@-moz-keyframes animations2{
	0%{-webkit-transform:translateY(-146px);}
	50%{-webkit-transform:translateY(-50px);}
	100%{-webkit-transform:translateY(0px);}
}
@-o-keyframes animations2{
	0%{-webkit-transform:translateY(-146px);}
	50%{-webkit-transform:translateY(-50px);}
	100%{-webkit-transform:translateY(0px);}
}
@-ms-keyframes animations2{
	0%{-webkit-transform:translateY(-146px);}
	50%{-webkit-transform:translateY(-50px);}
	100%{-webkit-transform:translateY(0px);}
}
@keyframes animations2{
	0%{-webkit-transform:translateY(-146px);}
	50%{-webkit-transform:translateY(-50px);}
	100%{-webkit-transform:translateY(0px);}
}
#cnzz_stat_icon_1252960829{display:none;}
